<h1>Beauty Saloon</h1>
<nav>
  <ul>
    <li>
      <h2>
        <a routerLink="/treatment-overview" routerLinkActive="active"
          >Treatment-overview</a
        >
      </h2>
    </li>
    <li>
      <h2>
        <a routerLink="/select-treatment" routerLinkActive="active"
          >Select-treatment</a
        >
      </h2>
    </li>
    <li>
      <h2>
        <a routerLink="/pending-appointments" routerLinkActive="active"
          >Pending-appointments</a
        >
      </h2>
    </li>
    <li>
      <h2>
        <a routerLink="/events-overview" routerLinkActive="active">Overview</a>
      </h2>
    </li>
  </ul>
</nav>
<br />
<router-outlet></router-outlet>
